{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tristique blandit semper. Aenean quis ultricies mauris, semper suscipit mauris. Mauris pulvinar euismod porta. Cras fermentum urna vitae fermentum rutrum. Phasellus eget volutpat lorem, at eleifend risus. Nullam varius sit amet nulla at vehicula. Fusce tincidunt aliquam purus, pulvinar condimentum dolor faucibus vel.</p>

{% endblock %}
